.movieRow {
    margin-bottom: 30px;
    position: relative;
}
.movieRow--title{
    margin: 0 0 10px 30px
}
.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 40px;
    padding-right: 40px;
}
.movieRow--list {
    transition: all .5s ease;
    display: flex;
    justify-content: space-between;
}
.movieRow--item {
    display: inline-block;
    max-width: 180px;
    max-height: 270px;
    overflow: hidden;
}
.movieRow--item img {
    width: 100%;
    transform: scale(1);
    transition: all ease .2s;
    cursor: pointer
}
.movieRow--item img:hover {
    transform: scale(1.1);
}
.movieRow--left ,
.movieRow--right {
    position: absolute;
    width: 40px;
    height: 100%;
    background: rgba(0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all .5s ease;
}
.movieRow--left span,
.movieRow--right span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.movieRow--left {
    left: 0;
}
.movieRow--right {
    right: 0;
}
.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
    opacity: 0.8;
}

@media (max-width: 1024px) {
    .movieRow--left ,
    .movieRow--right {
        opacity: 0.8;
    }
}


















